# permissions for end users to edit workloadactions.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: workloadaction-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: rabbit-stalker
    app.kubernetes.io/part-of: rabbit-stalker
    app.kubernetes.io/managed-by: kustomize
  name: workloadaction-editor-role
rules:
- apiGroups:
  - rabbit-stalker.docplanner.com
  resources:
  - workloadactions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rabbit-stalker.docplanner.com
  resources:
  - workloadactions/status
  verbs:
  - get
