apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- clusterrole/rabbit-stalker-manager-role.yaml
- clusterrole/rabbit-stalker-metrics-reader.yaml
- clusterrole/rabbit-stalker-proxy-role.yaml
- clusterrolebinding/rabbit-stalker-manager-rolebinding.yaml
- clusterrolebinding/rabbit-stalker-proxy-rolebinding.yaml
- customresourcedefinition/workloadactions-rabbit-stalker-docplanner-com.yaml
- deployment/rabbit-stalker-controller-manager.yaml
- namespace/rabbit-stalker-system.yaml
- role/rabbit-stalker-leader-election-role.yaml
- rolebinding/rabbit-stalker-leader-election-rolebinding.yaml
- service/rabbit-stalker-controller-manager-metrics-service.yaml
- serviceaccount/rabbit-stalker-controller-manager.yaml
